/* ---- reset ---- */
html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
}

/* ---- tsparticles container ---- */
#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
}