
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- tsparticles container ---- */
.github {
    bottom: 10px;
    right: 10px;
    position: fixed;
    border-radius: 10px;
    background: #fff;
    padding: 0 12px 6px 12px;
    border: 1px solid #000;
}

.github a:hover,
.github a:link,
.github a:visited,
.github a:active {
    color: #000;
    text-decoration: none;
}

.github img {
    height: 30px;
}

.github #gh-project {
    font-size: 20px;
    padding-left: 5px;
    font-weight: bold;
    vertical-align: bottom;
}
.textContainer {
    position: absolute;
    color: white;
}
#tsparticles {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}
section{
    position: absolute;
    width:100%;
    text-align: center;
    color:white;
}
section h1{
    font-family: 'Audiowide', sans-serif;
    font-size: 11rem;
    margin:0%;
    margin-top: 4rem;
}
section h2{
    font-family: 'Roboto Mono',sans-serif;
    font-size: 2rem;
    margin:0%;
}