html {
    height: 100%;
    overflow: hidden;
}

body {
    background: #999999;
    font-family: "Varela", sans-serif;
    height: calc(100%);
    overflow: auto;
    position: relative;
}


#tsparticles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.images {
    text-align: center;
    width: 50%;
    height: auto;
    margin-top: 20%;
    opacity: 80%;
}
#cup {
    width: 125px;
    height: auto;
    margin-bottom: 5%;
}

#cat {
    width: 300px;
    height: auto;
}
.para {
    text-align: center;
    width: 50%;
    height: auto;
}
h2 {
    font-size: 100px;
    opacity: 40%;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    opacity: 60%;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

button {
    opacity: 50%;
    font-size: 17px;
    background-color: #cccccc;
    padding: 3%;
    margin-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
