body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    z-index: -999;
    overflow: hidden;
}

#backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
    color: #FFFFFF;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    background-color: #FFFFFF;
    font-size: 12rem;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

p {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

a {
    color: #FFFFFF;
    text-decoration: underline;
}

a:visited {
    color: rgb(104, 104, 104)
}